@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Material+Icons");
html {
  font-family: roboto;
}

body {
  padding: 0;
  margin: 0;
  background: #212121;
  color: #fff;
}

.container {
  display: flex;
}
.container .select {
  position: relative;
  font-family: roboto mono;
  grid-gap: 10px;
  padding: 15px 0;
  background: #1b1b1b;
  min-width: 245px;
  height: 100vh;
  box-sizing: border-box;
}
.container .select div {
  margin: 10px;
  height: 40px;
}
.container .select label {
  display: inline-block;
  font-size: 15px;
  box-sizing: border-box;
  height: 40px;
  background: #424242;
  color: #eeeeee;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  width: 80px;
}
.container .select select {
  display: inline-block;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  width: 145px;
}
.container .data {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "a d" "b d" "c d";
  justify-items: end;
}
.container .data .main {
  display: flex;
  background: #1b1b1b;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: space-evenly;
  width: 460px;
  cursor: default;
  grid-area: a;
}
.container .data .main .info {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}
.container .data .main .pair {
  display: flex;
  width: min-content;
  align-items: center;
  background: #111111;
  border-radius: 25px;
  height: 50px;
}
.container .data .main .pair .tooltip {
  font-size: 15px;
  position: absolute;
  visibility: hidden;
  background: transparent;
  color: transparent;
  margin-top: 50px;
  margin-left: 20px;
  padding: 5px;
  opacity: 0.9;
  border-radius: 5px;
  transition: all 0.1s;
}
.container .data .main .pair:hover .tooltip {
  transition: all 0.1s;
  visibility: visible;
  background: #fff;
  color: #000;
  margin-top: 60px;
}
.container .data .main span {
  display: inline-block;
}
.container .data .main span.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
  background: #2c2c2c;
  border-radius: 50%;
}
.container .data .main span.value {
  padding: 0 20px 0 10px;
}
.container .data .main .RPM {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .data .main .RPM .RPMval {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #111111;
}
.container .data .main .RPM span {
  margin-top: -14px;
  margin-bottom: 5px;
  font-size: 12px;
  padding: 5px 10px;
  background: #2c2c2c;
  border-radius: 15px;
}
.container .data .voltage {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b1b1b;
  padding: 15px;
  border-radius: 5px;
  width: 460px;
  height: 283.2px;
  box-sizing: border-box;
}
.container .data .mode {
  grid-area: c;
  width: 460px;
  box-sizing: border-box;
  background: #1b1b1b;
  padding: 10px 30px;
  border-radius: 5px;
}
.container .data .mode .title {
  text-align: center;
  padding: 5px;
}
.container .data .mode svg {
  border-radius: 5px;
}
.container .data .mode .modeSpec {
  display: flex;
  align-items: center;
  margin: 10px;
}
.container .data .mode .modeSpec .modeKey {
  display: flex;
  align-items: center;
  width: 100px;
  background: #2c2c2c;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}
.container .data .mode .modeSpec .modeKey i {
  margin-right: 5px;
}
.container .data .mode .modeSpec .economy {
  color: #4caf50;
}
.container .data .mode .modeSpec .ride {
  color: #2196f3;
}
.container .data .mode .modeSpec .sport {
  color: #f44336;
}
.container .data .mode .modeSpec .modeVal {
  background: #111111;
  border-radius: 0 5px 5px 0;
  height: 34px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.container .data .other {
  grid-area: d;
  justify-self: start;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  grid-gap: 10px;
  width: auto;
}
.container .data .other .duration {
  background: #1b1b1b;
  padding: 10px;
  border-radius: 5px;
  justify-self: end;
  height: min-content;
  display: grid;
  grid-gap: 10px;
}
.container .data .other .duration .pair {
  display: flex;
}
.container .data .other .duration .pair .key {
  background: #2c2c2c;
  padding: 10px;
  width: 40px;
  border-radius: 5px 0 0 5px;
  text-align: center;
}
.container .data .other .duration .pair .value {
  background: #111111;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}
.container .data .other .mapContainer {
  width: 560px;
  height: 500px;
  background: #1b1b1b;
  padding: 10px;
  border-radius: 5px;
}
.container .data .other .mapContainer div#map {
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
