@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Material+Icons');

html {
    font-family: roboto;
}
body {
    padding: 0;
    margin: 0;
    background: #212121;
    color: #fff;
}

// div#root {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.container {
    .select {
        font-family: roboto mono;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 100%;
        padding: 20px 0;
        background: #1b1b1b;
        .flex-end {
            justify-self: end;
        }
        label {
            height: 40px;
            background: #424242;
            color: #eeeeee;
            padding: 10px;
            border-radius: 5px 0 0 5px;
        }
        select {
            height: 40px;
            border: none;
            padding: 10px;
            font-size: 16px;
            border-radius: 0 5px 5px 0;
        }
    }
    .data {
        .main {
            display: flex;
            background: #1b1b1b;
            margin: 10px;
            padding: 15px;
            border-radius: 5px;
            width: min-content;
            cursor: default;
            .info {
                display: grid;
                grid-template-columns: auto;
                grid-gap: 10px;
                margin-right: 10px;
            }
            .pair {
                display: flex;
                width: min-content;
                align-items: center;
                background: #111111;
                border-radius: 25px;

                .tooltip {
                    font-size: 15px;
                    position: absolute;
                    visibility: hidden;
                    background: transparent;
                    color: transparent;
                    margin-top: 50px;
                    margin-left: 20px;
                    padding: 5px;
                    opacity: 0.9;
                    border-radius: 5px;
                    transition: all 0.1s;
                }

                &:hover {
                    .tooltip {
                        transition: all 0.1s;
                        visibility: visible;
                        background: #fff;
                        color: #000;
                        margin-top: 60px;
                    }
                }
            }
            span {
                display: inline-block;
                &.key {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    height: 50px;
                    width: 50px;
                    background: #2c2c2c;
                    border-radius: 50%;
                }
                &.value {
                    padding: 0 20px 0 10px;
                }
            }
            .RPM {
                width: max-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                .RPMval {
                    font-size: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    background: #111111;
                }
                span {
                    margin-top: -14px;
                    margin-bottom: 5px;
                    font-size: 12px;
                    padding: 5px 10px;
                    background: #2c2c2c;
                    border-radius: 15px;
                }
            }
        }
        .voltage {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #1b1b1b;
            margin: 10px;
            padding: 15px;
            border-radius: 5px;
            width: min-content;
        }
    }
}